<header class="header">
  <div class="container">
    <div class="page-menu">
      <a href="../index.html">
        <svg class="logotype" width="68.93px" height="55.5px" aria-label="logo">
          <use href="../img/icom.svg#icon-logo"></use>
        </svg>
      </a>
      <a href="../index.html">
        <svg
          class="burger_menu"
          width="40px"
          height="40px"
          aria-label="burger_menu"
        >
          <use href="../img/icom.svg#icon-burger_menu"></use>
        </svg>
      </a>
    </div>
    <div class="header-info current">
      <p class="text-header current">A hair salon for men in Kyiv</p>
      <h1 class="title-header">BarberShop</h1>
      <p class="info-header">
        Ми експерти у модних чоловічих стрижках. Працюємо швидко, обережно та зі
        смаком.
      </p>
    </div>
  </div>
</header>
