.header {
  /* padding: 20px 0; */
  background-image: url('./img/retina/header_mobile.jpg');
  background-color: rgba(25, 28, 38, 0.20);
  max-width: 689px;
  width: 100%;
  min-height: 580px;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

/* .nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
} */

.container {
  max-width: 418px;
  padding-left: 31px;
  padding-right: 31px;
}

/* .nav-link {
  font-weight: 500;
} */

.burger_menu {
  display: inline-flex;
  margin-right: 8px;
  fill: var(--primari-brand);
}

.burger_menu:focus,
.burger_menu:hover {
  fill: var(--accent-color);
}

.page-menu{
  display: inline-flex;
  max-width: 410px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 112px;
  justify-content: space-between;
  align-items: center;
}

.logotype {
  display: inline-flex;
}

.burger_menu {
  display: inline-flex;
  margin-right: 8px;
}

.header-info {
  display: inline-flex;
  max-width: 306px;
  margin-bottom: 183px;
  gap: 20px;
  align-content: flex-start;
  flex-wrap: wrap;
}

.text-header {
  color: rgba(157, 164, 189, 0.60);
  font-family: inherit;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-left: 80px;
}

.current::before{
  content: '';
  width: 1px;
  height: 60px;
  background: rgba(157, 164, 189, 0.60);
  position: absolute;
  left: 31px;
  bottom: -25px;
  transform: rotate(90deg);
}

.current{
  display: flex;
  position: relative;
  margin-right: 20px;
  flex-shrink: 0;
}


.title-header {
  color: #FFF;
  font-family: Raleway;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.05em;
}

.info-header {
  color: #9DA4BD;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.62;
  letter-spacing: 0.02em;
  line-height: 1.5;
}



@media screen and (max-width:767px) {

@media screen and (min-resolution:192dpi) and (max-width:767px),
  screen and (min-resolution:2dppx) and (max-width:767px),
  screen and (min-device-pixel-ratio:2) and (max-width:767px) {
    .header {
      background-image: url('./img/retina/header_mobile@2x.jpg');
    }
  }
}